/arm
/avr
/empty
/gtk
/mcs51
/qt4
/stlport
/empty_file
/h_file
/ogre
/sdl
/sys
/arm
/console
/fltk
/irrlicht
/opencv
/sfml
/tricore
/avr
/d
/fortran
/lf
/opengl
/sharedlib
/win32gui
/directx
/glfw
/plugins
/smartwin
/c_file
/dll
/glut
/matlab_csf
/ppc
/staticlib
